# Maschinengemeinschaft Caddy Configuration

ml76y0cjb8gqzf3p.myfritz.net {
    encode gzip
    reverse_proxy maschinengemeinschaft-app:5000
}

:80 {
    encode gzip
    reverse_proxy maschinengemeinschaft-app:5000
}
